@import "./globalStyle";

main {
  top: 15vh;
  position: relative;
  z-index: 1;
  height: 85vh;
  @include flex(center, center);
}

.container {
  color: white;
  width: 60%;
  @include flex(center, center);
  flex-direction: column;

  a {
    color: white;
  }
  li {
    font-size: large;
    font-weight: bold;
    margin: 2rem 0rem;
    @include flex(center, center);
    transition: 0.5s ease;

    span {
      font-weight: normal;
      padding-right: 0.5rem;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 2rem 0.5rem;
    border-right: none;
    border-left: none;
    border-radius: 0;
    width: 100%;
    li {
      font-size: 1.2rem;
    }
  }
}
