@import "./globalStyle";

main {
  top: 15vh;
  position: relative;
  height: 85vh;
  @include flex(center, center);
}

i {
  pointer-events: none;
}

.container {
  max-height: 90%;
  position: relative;
  padding: 2rem 1rem;
  width: 95%;
  height: 50vw;
  @include flex(center, center);
  flex-direction: column;
}

.select {
  margin: 2rem 0rem;
  display: flex;
  select {
    height: 100%;
    margin: 0;
    height: 3rem;
    font-size: 1.2rem;
  }
  button {
    height: 3rem;
    font-size: 1.2rem;
  }
}

.chart-container {
  width: 95%;
}

@media screen and (max-width: 500px) {
  .container {
    border: none;
    border-radius: none;
    max-height: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.2rem;
  }
}
